.money_pic{
    height: 650px;
}

/* Responsiveness */
@media only screen and (min-width: 600px) {
    .money_pic{
        height: 400px;
        padding-bottom: 30px;
    }
  }

@media only screen and (min-width: 768px) {
    .money_pic{
        height: 500px;
    }
  }

  @media only screen and (min-width: 992px) {
    .money_pic{
        height: 650px;
    }
  }
